body {
	background-color: #013220;
	font-family: 'Open Sans', sans-serif;
}

.col-lg-12, .col-md-12, .col-sm-12 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}

h1 {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}


.display {
	height: 50px;
}


input {
	width: 35%;
	text-align: center;
	height: 45px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#button-container {
	margin-top: 20px;
}

button {
	padding: 10px 40px !important;
	font-size: 18px !important;
	font-weight: bold !important;
}

/* Desktop */

@media screen and (max-width: 1920px) {
	

	button {
		padding: 10px 40px !important;
		font-weight: bold !important;
	}

	h1 {
		font-size: 80px;
	}

	p {
		color: #ffffff;
		font-size: 20px;
	}

}

/* Laptop */

@media screen and (max-width: 1366px) {


	button {
		padding: 10px 40px !important;
		font-weight: bold !important;
	}

	h1 {
		font-size: 80px;
		text-align: center;
	}

	p {
		color: #ffffff;
		font-size: 20px;
	}

}

/* Tablet */

@media only screen and (max-width: 768px) {

	h1 {
		font-size: 110px;
	}
	p {
		font-size: 40px;
		text-align: center;
	}
	input {
		width: 55%;
		height: 60px;
		font-size: 40px;
	}
	button {
		font-size: 30px !important;
	}

}

/* Mobile */


@media screen and (max-width: 480px) {
	h1 {
		font-size: 60px;
	}
	p {
		font-size: 30px;
	}
	button {
		font-size: 25px !important;
		
	}
}

